<div class="col-xs-12">
    <div>
        <div class="wires-background" style="background-color: white;">
                <div id="symbol-container">
                    <div class="symbol" ng-repeat="symbol in symbols">
                        <button class='symbol-button' ng-class="{'btn-disabled' : symbol.pressed, 'btn-incorrect' : symbol.wrong }" ng-click='buttonPress(symbol)'>{{symbol.unicode}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
