<game-header></game-header>
<div class="main-content" md-swipe-right="onSwipeRight()" md-swipe-left="onSwipeLeft()">
    <start-game ng-hide="gamePlaying" ng-click="startGame()"></start-game>
    <div ng-show="!swiped" ng-repeat="stage in stages">
        <stage ng-show="gamePlaying && currentStage === $index" stage="stage"></stage>
    </div>
    <div ng-show="gamePlaying && swiped" class="staging-container">
        <chat style="width: 100%; height: 78%; margin-top: 148px"></chat>
    </div>
</div>
