<header id="header-3" class="soft-scroll header-3">
    <div class="container">
        <game-header></game-header>

        <div class="main-content">
        <!-- <manual></manual> -->
     <!--    <start-game ng-hide="gamePlaying" ng-click="startGame()"></start-game> -->
      <!--   <wires ng-show="gamePlaying"></wires> -->
        <chat messages="gameMessages"></chat>
            <start-game ng-hide="gamePlaying" ng-click="startGame()"></start-game>
            <div ng-repeat="stage in stages">
                <stage ng-show="currentStage === $index" stage="stage"></stage>
            </div>
        </div>
    </div>
</header>