<div class="header main-nav navbar-fixed-top headroom--pinned">
    <div class="top-header">{{ squadName }}</div>
    <div class="bottom-header">

        <div class="cont timer col-xs-4" ng-click="clicked()">
          <h1 class="timer">{{ timerNum }}</h1>
        </div>
        <div class="cont components col-xs-4">
          <div ng-show="components.userAssigned === loggedInUserId">
          </div>
        </div>

        <div class="cont strikes col-xs-4">
           <div ng-repeat="strike in strikes">
            <div class="circle" ng-class="strike.active ? 'stroked' : 'unstroked'">
            </div>
           </div>
        </div>

    </div>
</div>

