<div class="header main-nav navbar-fixed-top headroom--pinned">
    <div class="top-header">{{ squadName }}</div>
    <div class="bottom-header">

        <div class="cont timer col-xs-4" ng-click="clicked()">
          <h1 id="titlefont" class="timer">{{ timerNum }}</h1>
        </div>
        <div class="cont batteries col-xs-4">
          <div ng-repeat="battery in batteries" ng-if="battery.userAssigned === userId">
         <!--  <div ng-class="battery-test">hi</div> -->
          <img class="battery-test" src="/js/common/directives/game-header/battery.svg"/>
          </div>
        </div>

        <div class="cont strikes col-xs-4">
           <div ng-repeat="strike in strikes">
            <div class="circle" ng-class="strike.active ? 'stroked' : 'unstroked'">
            </div>
           </div>
        </div>

    </div>
</div>

