<div class="col-xs-12">
    <div>
        <div class="wires-background disable-text-selection">
            <div class="wires-container disable-text-selection">
                <div class="row text-center">
                    <button>
                        <img class="arrow maze-button up-button" src="/images/go-back-arrow.png">
                    </button>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <button>
                            <img rotate="90" class="arrow" src="/images/go-back-arrow.png">
                        </button>
                    </div>
                    <div class="col-xs-9">
                        <div class="text-center" ng-repeat="row in maze">
                            <div class="maze-cell" ng-class="{anchor: cell.anchor, goal: cell.goal, currcell: cell.coordX === currX && cell.coordY === currY}" ng-repeat="cell in row"></div>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <button>
                            <img rotate="90" class="arrow maze-button right-button" src="/images/go-back-arrow.png">
                        </button>
                    </div>
                </div>
                <div class="row text-center">
                    <button>
                        <img class="arrow maze-button down-button" src="/images/go-back-arrow.png">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
