<div id="maze-module-container" class="container">
    <div class="row text-center">
        <div style="display: inline-block;" class="maze-button">
            <img class="maze-button up-button" src="/images/icon-arrow-right.png" ng-click="moveUp()"/>
        </div>
    </div>
    <div class="row">
        <div id="no-pad" class="col-xs-1">
            <div class="maze-button">
                <img id="shift-left" class="maze-button" src="/images/icon-arrow-left.png" ng-click="moveLeft()"/>
            </div>
        </div>
        <div id="maze-grid-container" class="col-xs-10">
            <div class="text-center" ng-repeat="row in maze">
                <div class="maze-cell" ng-class="{anchor: cell.anchor, goal: cell.goal, currcell: cell.coordX === currX && cell.coordY === currY}" ng-repeat="cell in row"></div>
            </div>
        </div>
        <div id="no-pad" class="col-xs-1">
            <div class="maze-button">
                <img id="shift-right" class="maze-button" src="/images/icon-arrow-right.png" ng-click="moveRight()"/>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div style="display: inline-block;" class="maze-button">
            <img class="maze-button down-button" src="/images/icon-arrow-right.png" ng-click="moveDown()"/>
        </div>
    </div>
</div>

<p>The current x coordinate is: {{currX}}</p>
<p>The current y coordinate is: {{currY}}</p>
