<div class="chat-background">
    <div id="chat-header">PUBLIC CHAT</div>
    <div id="messages" class="messages">
        <div id="chatmessages" ng-class="{ userMsg: username === message.username, otherMsg: username !== message.username}" ng-repeat="message in messages | limitTo: -50" class="txt-box bodyfont">
            <p class="username">{{ message.username }}:</p>
            <p class="content">{{ message.message }}</p>
        </div>
    </div>
    <div id="send-message">
        <form id="msgForm" class="msg-form" novalidate name="chat" ng-submit="submit(chat.message)">
            <input class="msg-input" ng-model="chat.message" type="text" name="msg" required placeholder="Type a message..." />
            <button id="bodyfont" class="submit-chat" type="submit">send</button>
        </form>
    </div>
</div>
