
<div class="chat-background" style="background-color: red">
 <!--    <p>this is a chat</p> -->
    <div id="messages">

      <div id="bodyfont" ng-repeat="message in messages | limitTo: 50" class="txt-box">
      <p class="msg">{{ message.username }}:    {{ message.message }}</p>
      </div>

    </div>


    <div id="send-message" style="background-color: green">

    <form class="msg-form" novalidate name="chat" ng-submit="submit(chat.message)">

    <input class="msg-input" style="background-color: pink" ng-model="chat.message" type="text" name="msg" required/>

    <button class="submit-chat" type="submit">send</button>
  </form>
    </div>

</div>
