<header id="header-3" class="soft-scroll header-3">
    <section class="home">
        {{squadname}}
        <div class="container">
            <div class="container">
                <center>
                    <h2 style="color: #000000">Create Your Squad!</h2>
                    <button class="btn btn-success" ng-click="click()"></button>
                </center>
                <form name="options" class="login-form" ng-submit="createGame(squadname)">
                    <input class="login-input" ng-model="squadname" placeholder="Squad Name" required/>
                    <h6 style="color: #000000">MODE</h6>
                    <h3 style="color: #000000">{{}}STANDARD</h3> 
                    <h6 style="color: #000000">MODULES</h6>
                    <input class="login-input" ng-model="numModules" placeholder="0-5 Modules"/>
                     <h6 style="color: #000000">MINUTES</h6>
                    <input class="login-input" ng-model="timePerRound" placeholder="1-3 Minutes"/>
                    <button type="submit" id="submit">Create</button>
                </form>
            </div>
        </div>
    </section>
</header>