<div class="arrow-div" style="background-color: #FFFFFF">
    <a ui-sref="home">
        <img class="arrow" src="/images/go-back-arrow.png">
    </a>
</div>

<div class="create-container">
    <div class="create2-container" style="width: 78%; height: 100%">
        <h2 id="titlefont" style="color: #000000">Create Squad!</h2>
        <form name="options" class="login-form" ng-submit="createGame(squadname)">
            <input class="login-input" type="username" ng-model="squadname" placeholder="Squad Name" required/>
            <h6 style="color: #000000">MODE</h6>
            <div class="standard-container">
                <div style="width: 100%"><img src="/images/icon-arrow-left.png"
                style="margin-top: 10px; margin-right: 50px; outline: none" height="45px" ng-click="changeMode()" /></div>
                <div style="width: 100%"><h3 id="titlefont" style="color: #000000">{{ gameMode }}</h3></div>
                <div style="width: 100%"><img src="/images/icon-arrow-right.png" style="margin-top: 10px; margin-left: 50px; outline: none" height="45px" ng-click="changeMode()" /></div>
            </div>
            <div ng-show="gameMode === 'CUSTOM'">
                <h6 style="color: #000000">MODULES</h6>
                <input class="login-input" type="username" ng-model="modPerPerson" placeholder="1-5 Modules / Person"/>
                 <h6 style="color: #000000">SECONDS</h6>
                <input class="login-input" type="username" ng-model="timePerMod" placeholder="Seconds / Module">
            </div>
            <div class="spacer"></div>
            <button style="position: fixed; bottom: 15px; width: 78%" class="login-button" type="submit" id="submit">Create</button>
        </form>
    </div>
</div>
