<div class="arrow-div">
    <a href="www.facebook.com">
        <img class="arrow" src="https://c2.staticflickr.com/8/7776/30040231331_43580f0de1_o.png">
    </a>
</div>

<header id="header-3" class="soft-scroll header-3">
    <section class="hero">
        <div class="container">
            <div class="container" style="background-color: #FF534F">
                <center><h3 style="color: #FFFFFF">Create Your Account</h3></center>
               <form class="login-form" novalidate name="login" ng-submit="submit(newUser)">
                  <input class="login-input" ng-model="newUser.username" ng-class="{ invalid: formInvalid }" placeholder="username" type="username" name="username" required/>
                  <input class="login-input" ng-model="newUser.email" ng-class="{ invalid: formInvalid }" placeholder="email" type="email" name="username" required/>
                  <input class="login-input" ng-model="newUser.password" ng-class="{ invalid: formInvalid }" placeholder="password" type="password" name="username" required/>

                  <button class="login-button" type="submit" ui-sref="home">continue</button>
              </form>
            </div>
        </div>
    </section>
</header>
</div>
