<div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <div class="passwords-background disable-text-selection" style="margin-bottom: 20px;">
        <!--   ng-repeat for letterOptions in combinations -->
        <div class="upArrows-container">
            <img src="/images/icon-arrow-left.png" ng-repeat="column in columnCombos" ng-click="goUp(column)" />
        </div>
        <div class="passwords-container">
            <div class="letterOptions" ng-repeat="column in columnCombos">{{ column.letterOptions[column.currentIndex] }}</div>
        </div>
        <div class="downArrows-container">
            <img src="/images/icon-arrow-left.png" ng-repeat="column in columnCombos" ng-click="goDown(column)" />
        </div>
        <button class="passwords-button" ng-click="submit()">submit</button>
    </div>
</div>
