

    .symbolic {
        height: 300px;
        background-color: red;
        // align-items: center;
        // justify-content: center;
        // flex-direction: row;
        // flex-wrap: wrap;
    }

    .symbol-button {
        height: 75px;
        width: 75px;
        font-size: 40px;
    }

    .btn-disabled {
        background-color: darkslategray;
    }

