
<div class="chat-background">
 <!--    <p>this is a chat</p> -->
    <div id="messages">

      <div ng-repeat="message in messages" class="txt-box">
      <p class="msg">{{ message.username }}  {{ message.message }}</p>
      </div>

     <!--  <div class="txt-box">
      <p class="msg">chatbox</p>
      </div>

      <div class="txt-box">
      <p class="msg">chatbox</p>
      </div> -->

    </div>


    <div id="send-message">

    <form class="msg-input" novalidate name="chat" ng-submit="submit(chat.message)">

    <input ng-model="chat.message" type="text" name="msg" required/>

    <button type="submit">send</button>
  </form>
    </div>

</div>


