
    <section class="home">
        <div class="container">
            <div class="container">
                <form class="login-form" novalidate name="loginForm">
                    <input type="text" class="join-input" ng-model="gamePass" required/>
                    <button class="join-button" type="submit" ng-click="joinGame()">Join</button>
                    <center><h6 style="font-size: 13px">OR</h6></center>
                    <button class="login-button" type="submit" ng-click="createGame()">Create</button>
                </form>
            </div>
        </div>
    </section>
<!--     <div>
        <button class="btn btn-danger" ng-click="createGame()">Create Game</button>
    </div>
    <br>
    <div>
        <form novalidate class="simple-form">
            <input type="text" ng-model="gamePass" />
        </form>
        <button class="btn btn-success" ng-click="joinGame()">Join Game</button>
    </div> -->
    <br>
    <button class="btn btn-danger" ng-click="logout()">Log Out</button>

