

<div class="lobby-container2">
    <div class="stagingArea">
        <form class="login-form" novalidate name="loginForm">
            <input type="text" placeholder="ENTER GAME KEY" class="join-input" ng-model="gamePass" required/>
            <button class="join-button" type="submit" ng-click="joinGame()">Join</button>
            <center>
                <h6 id="bodyfont" style="font-size: 13px; color: #5C5C5C">OR</h6></center>
            <button class="login-button" type="submit" ui-sref="create">Create</button>
        </form>
        <br>
        <br>
        <div id="bodyfont" class="signup-text">
            <h5 style="color: #5C5C5C">Change accounts? <a ng-click="logout()" style="color: #3836EB">Log Out</a></h5>
        </div>
    </div>
</div>
