<!--<header id="header-3" class="soft-scroll header-3">
    <section class="hero">-->
<div class="lobby-container">
    <!--<div class="container" style="background-color: #FF534F">-->
    <!--<div>-->
    <!--<img class="logo-placeholder" src="https://c1.staticflickr.com/9/8271/29489026654_bc7816dd05_n.jpg">-->
    <!--</div>-->
    <div class="stagingArea">
    
    <!--limit squadname to one input-->
    <div>
        <h1>{{squadname}}</h1> 


        <h1>Gamepass: {{gamePass}}</h1>

        <h1>Players: {{userCount}}</h1>

        <div ng-repeat="user in usernames">
            <h1>{{user}}</h1>
        </div>

        <md-button class="md-raised" ng-click="ready()">Ready?</md-button>

    </div>





</div>
